@import "../fonts/roboto/stylesheet.css";
html,body,div,p,a,button,input,select,textarea, h1,h2,h3,h4,h5,h6,ul,li{font-family: 'Roboto',sans-serif;}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e2e1e0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0!important;
    padding: 0!important;
}

* {box-sizing: border-box;}

ol{margin-top: 0;}






/*
 *  Login
 */
.hero {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../img/bg-index.jpg") center / cover;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.hero:hover{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../img/bg-index2.jpg")center / cover;
    height: 100vh;
    transition: all 1s ease-in-out;
}

.login-img{
    height: 150px;
    margin-top: 20%;
}

.drawer-design{background: rgba(32, 38, 43, 0.7) !important;}

.mdl-layout__drawer>form>div>.mdl-textfield__input{border-bottom: 1px solid #868583 !important;}

.mdl-layout__drawer>form{padding: .8em;}

.btn-width {width: 100% !important;}

.mdl-layout__drawer>form>div>.mdl-textfield__label {color: #eee;!important;}







/*
 *  Sidemenu
 */
.sidemenu-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.sidemenu-image {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url("../img/sidemenu-img.jpg") center / cover;
    height: 151px;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panel{
    transition: max-height 0.4s ease-out;
    cursor: auto;
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.active-link{
    color: #FF3D00 !important;
    font-weight: 500 !important;
}

.active-panel-link{
    color: #FF3D00 !important;
    font-weight: 500 !important;
}

.panel-show {display:block!important}
.hide {display:none!important}


/*Scroll Bar*/
#scroll::-webkit-scrollbar-track
{
    background-color: #f0f0f0;
}

#scroll::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c0c0c0;
}






/*
 *  Utility
 */
.full-width{width: 100%!important;}

/*  Float */
.mdl-float__left{float: left!important;}
.mdl-float__right{float: right!important;}

/*  Font    */
.mdl-font__eighteen{font-size: 18px!important;}

/*  Margin  */
.mdl-margin__top-bottom{margin: 2em 0 !important;}
.mdl-margin__none{margin: 0!important;}
.mdl-margin__bottom-top__none{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

/*  Padding */
.mdl-padding__none{padding: 0!important;}
.mdl-padding__top-none{padding-top: 0 !important;}
.mdl-padding__bottom-none{padding-bottom: 0 !important;}
.mdl-padding__bottom-top__none{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.mdl-padding__left-none{padding-left: 0!important;}
.mdl-padding{
    padding: .7em !important;
}





/*
 *  Content
 */

.pointer{}
.pointer>li:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}

.content-center{margin: auto !important;}

.equipment-list-card {
    margin: 25px 25px 0;
}

.equipment-list-card>.mdl-card__supporting-text{
    padding: 0;
    margin: 0;
}
.equipment-list-card>.mdl-card__supporting-text>.mdl-list{
    padding: 0;
    margin: 0;
}
.equipment-list-card>.mdl-card__supporting-text>.mdl-list>.mdl-list__item{
    padding: 0;
    margin: 0;
}
.equipment-list-card>.mdl-card__supporting-text>.mdl-list>.mdl-list__item>.mdl-textfield{
    width: 83%;
}
.fab-button{
    right: 40px!important;
    bottom: 50px!important;
    z-index: 15!important;
    position: fixed!important;
}
.borrow-list{}
.borrow-list>.mdl-list__item>.mdl-list__item-secondary-content>button>.material-icons{
    font-size: 40px!important;
}
.card-delete.mdl-button{
    color: transparent;
}
.card-delete.mdl-button:hover{
    color: #444;
    transition: all 0.1s ease-in-out;
}

#new-account{max-width: 400px!important;}

.mdl-card__list{
    background-color: white!important;
    border-radius: .2em;
}

.mdl-card__list>.mdl-card__title{
    max-height: 20%;
}
.top-bar{
    width: 100%;
    height: 64px!important;
    z-index: 1;
}

.top-bar.mdl-layout__header-row{
    padding-left: 40px !important;
}


/*
 *  Data Table
 */



/*
 *  Increase/Decrease Button
 */


.borrow-list form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.borrow-list form #decrease {
    margin-right: -4px;
}

.borrow-list form #increase {
    margin-left: -4px;
}

.borrow-list form #input-wrap {
    margin: 0;
    padding: 0;
}

.borrow-list input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    width: 100px;
    height: 37px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}








/*
 *  Drop down
 */









/*
 * Breadcrumbs
 */
.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

div.breadcrumbs-item {
    display: flex;
    align-items: center;
}

.breadcrumbs-item a{
    color: #2b2b2b;
    font-weight: 300;
    font-size: 1.1em;
}

.breadcrumbs-item>i{
    color: rgba(0,0,0,.2);
}

.breadcrumbs-item>span {
    font-size: .9em;
    font-weight: 500;

}

.breadcrumbs-item>span{
    color: #fd5722;
}

.breadcrumbs-item>i {
    margin: 0 8px;
}










/*
 *  Override
 */
.input-border-white {border-bottom: 1px solid rgb(255, 255, 255)!important;}

.label-white {color: #fff!important;}

.uk-link:hover, a:hover {text-decoration: none!important;}

.mdl-layout__drawer{border: none!important;}

.mdl-layout__drawer>.mdl-navigation>.mdl-navigation__link{padding: 16px 25px !important;}

.mdl-layout__drawer>.mdl-navigation>.mdl-navigation__link:hover,
.mdl-layout__drawer>.mdl-navigation>.panel>.mdl-navigation__link:hover{color: #2b2b2b !important;}

.mdl-navigation>.panel>.mdl-navigation__link{padding: 16px 0 16px 68px!important;}

.mdl-layout__drawer>.mdl-navigation>a>.material-icons{margin-right: 20px;}